.stcm--btn {
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}

#stcm--model-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px 0;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid var(--border-color);
    padding: 5px;
    border-radius: 5px;
}

.stcm--model-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: var(--background-color-secondary);
    border-radius: 3px;
}

.stcm--delete-btn {
    cursor: pointer;
    color: var(--text-color-secondary);
}
.stcm--delete-btn:hover {
    color: var(--text-color-error);
}

.stcm--add-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.stcm--add-container .text_pole {
    flex-grow: 1;
}

.stcm--add-btn {
    flex-shrink: 0;
}
